.vs/
.backup/
.inspect/

*.zip
*.rar
*.7z

*.ilk
*.pdb
*.pch
*.idb
*.obj
*.ipch
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.log

UpgradeLog*.htm
.build_ui_rework.log

x64/
Minecraft.Client/x64/
Minecraft.World/x64_Debug/
Minecraft.World/x64_Release/
Minecraft.Client/windows_profile_v10.bin
Minecraft.Client/x64/Release/windows_profile_v10.bin
workingpck_extracted/

Minecraft Launcher/Minecraft.Client.exe

*.user
*.suo
